# References stuff
/doc-ref
git-ref.txt

# Playwright
pw-automation/node_modules/
pw-automation/test-results/
pw-automation/playwright-report/
pw-automation/blob-report/
pw-automation/playwright/.cache/
pw-automation/playwright/.auth/

# 
.DS_Store